snippet nt
	| [${1:SLP}-${2:Номер}](https://track.itgroup42.ru/issue/${1:SLP}-${2:Номер}) | $3 | ${4:Статус} |
	$0

snippet s
	Начать

snippet c
	Продолжить

snippet d
	Завершить

snippet sd
	Начать и завершить

snippet nd
	##### Предыдущий день

	| Номер | Описание | Статус |
	| --- | --- | --- |
	$1

	##### Сегодня

	| Номер | Описание | Статус |
	| --- | --- | --- |
	$0
